* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  visibility: visible;
  opacity: 1;
  background-color: rgba(25, 46, 97, 0.5);
  width: 100vw;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.header.hide {
  opacity: 0;
  visibility: hidden;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  z-index: 1;
  background-color: rgba(25, 46, 97, 0);
}

.nav-list {
  display: flex;
  margin: 0 3.125rem 0 0;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  color: #F3E1CE;
  list-style: none;
}

.nav-list__item {
  padding: 1.5625rem;
  color: #F3E1CE;
}
.nav-list__item a {
  color: #F3E1CE;
  text-decoration: none;
  cursor: pointer;
}

.hero {
  background-color: #162B57;
}
.hero:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 18.3125rem;
  width: 100%;
  background-image: url("../images/curves.svg");
  background-repeat: no-repeat;
}

.hero__image {
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-content {
  position: absolute;
  top: 20%;
  left: 2.5rem;
  z-index: 1;
}

.hero-content__title {
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 9rem;
  color: #F3E1CE;
}

.hero-content__body {
  margin: 0 0 2.5rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #F3E1CE;
}

.hero-content__cta {
  display: inline-block;
  padding: 0.625rem 2.5rem;
  background-color: #4097B2;
  font-size: 1.5rem;
  color: #F3E1CE;
  border: 2px solid #4097B2;
  text-decoration: none;
  border-radius: 3.125rem;
  transition: all 0.2s ease-in-out;
}
.hero-content__cta:hover {
  color: #F3E1CE;
  background-color: #2B6E93;
}

.basics {
  position: relative;
}
.basics:after {
  position: absolute;
  content: "";
  top: -57px;
  left: 0;
  width: 123.875rem;
  height: 5rem;
  background-image: url("../images/wudu-curve.svg");
  background-repeat: no-repeat;
}

.salah {
  background-color: #F3E1CE;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5rem 1.25rem;
}
@media (width >= 375px) {
  .section {
    padding: 5rem 5rem;
  }
}

.section-categories {
  border-bottom: 1px solid rgba(25, 46, 97, 0.25);
}

.section-categories__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.section-categories__list-item {
  margin-right: 0.625rem;
}

.section-categories__list-button {
  padding: 3.125rem 3.75rem;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #192E61;
  background-color: transparent;
  text-align: center;
  border: 2px solid #192E61;
  border-radius: 1.5625rem;
  cursor: pointer;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.section-categories__list-button:hover {
  color: #d9d3d3;
  background-color: #192E61;
}

.section-categories__list-button.selected {
  color: #d9d3d3;
  background-color: #192E61;
}

.section-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3.125rem 0;
}
@media (width >= 375px) {
  .section-content {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.section__title {
  margin-bottom: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 7rem;
  color: #2B6E93;
}

.section__title--dark {
  color: #d9d3d3;
}

.section__subhead {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #2B6E93;
}

.section__subhead--dark {
  color: #d9d3d3;
}

.section-text {
  position: absolute;
  left: 0;
  max-width: 40%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}

.section-text.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.4s ease-in-out;
}

.section-text__title {
  font-family: "Inter", sans-serif;
  color: #252528;
}

.section-text__body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #252528;
  line-height: 2;
}

.section-text__link {
  color: #2B6E93;
  font-weight: 900;
  cursor: pointer;
}

.section-media {
  max-width: 50%;
}

.section-media__image {
  width: 100%;
}

.steps {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  gap: 3.125rem;
}

.steps-list {
  padding: 0;
  list-style: none;
  word-break: normal;
}

.steps-list__item {
  margin-bottom: 0.625rem;
}

.steps-list__item--dark button {
  background-color: transparent;
  color: #d9d3d3;
  border: 2px solid #d9d3d3;
}

.steps-list__button {
  padding: 0.625rem 5rem;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: #192E61;
  background-color: transparent;
  text-align: center;
  border: 2px solid #192E61;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.steps-list__button:hover {
  color: #d9d3d3;
  background-color: #192E61;
}

.steps-list__button.selected {
  color: #d9d3d3;
  background-color: #192E61;
}

.steps-description {
  position: absolute;
  left: 175%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.steps-description.show {
  opacity: 1;
  visibility: visible;
}

.steps-description__title {
  font-family: "Inter", sans-serif;
}

.steps-description__title--dark {
  color: #d9d3d3;
}

.steps-description__body {
  padding-left: 0.9375rem;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.steps-description__body--dark {
  color: #d9d3d3;
}

.steps-description__item {
  margin: 1.25rem 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 2;
}

.steps-description__item.show {
  opacity: 1;
  visibility: visible;
}

.steps-description__link {
  color: #2B6E93;
  font-weight: 900;
  cursor: pointer;
}

.wudu {
  background-color: #2B6E93;
}

/*# sourceMappingURL=styles.css.map */
