.basics {
  position: relative;
  
  &:after {
    position: absolute;
    content: "";
    top: -57px;
    left: 0;
    width: rem(1982px);
    height: rem(80px);
    background-image: url('../src/images/wudu-curve.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}