.dropdown-section {
  display: flex;
  flex-direction: column;
  margin: rem(25px 0);
  max-width: rem(690px);
  // margin: rem(50px 0);
}

.dropdown {
  padding: rem(15px);
  border: 2px solid $midnight-blue;
  border-radius: rem(15px);
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.dropdown--fajr {
  color: $beige;
  border: 2px solid $beige;
}

.dropdown--dhuhr {
  color: $midnight-blue;
  border: 2px solid $midnight-blue;
}

.dropdown--asr {
  color: $midnight-blue;
  border: 2px solid $midnight-blue;
}
.dropdown--maghrib{
  color: $beige;
  border: 2px solid $beige;
}
.dropdown--isha {
  color: $beige;
  border: 2px solid $beige;
}

.dropdown__label {
  margin: rem(10px 0);
  font-family: $ff-main;
  font-size: rem(20px);
  font-weight: $fw-semi;
  color: $midnight-blue;
}

.dropdown__label--fajr {
  color: $beige;
}

.dropdown__label--dhuhr {
  color: $midnight-blue;
}

.dropdown__label--asr {
  color: $midnight-blue;
}

.dropdown__label--maghrib {
  color: $beige;
}
.dropdown__label--isha {
  color: $beige;
}