.hero {
  background-color: $navy-blue;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: rem(293px);
    width: 100%;
    background-image: url('../images/curves.svg');
    background-repeat: no-repeat;
  }
}

.hero__image {
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

}

.hero-content {
  position: absolute;
  top: 20%;
  left: rem(40px);
  z-index: 1;
}

.hero-content__title {
  margin-bottom: 0;
  font-family: $ff-main;
  font-size: rem(144px);
  color: $beige;
}

.hero-content__body {
  margin: rem(0 0 40px 0);
  font-family: $ff-secondary;
  font-size: rem(20px);
  color: $sky-blue;
}

.hero-content__cta {
  display: inline-block;
  padding: rem(10px 40px);
  background-color: $beige;
  font-size: rem(24px);
  color: $teal-blue;
  border: 2px solid $beige;
  text-decoration: none;
  border-radius: rem(50px);
  transition: all .2s ease-in-out;

  &:hover {
    color: $beige;
    background-color: $teal-blue;
  }

}