.hero {
  position: relative;
  background-color: $navy-blue;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: rem(280px);
    width: 100%;
    background-image: url('/src/images/curves.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @include size($xxl) {
      height: rem(600px);
    }
  }
}

.hero__image {
  top: 0;
  width: 100vw;
  height: 100vh;
  background: url('/src/images/hero-bg.jpg');
  background-size: cover;
  background-position: 70%;
  background-repeat: no-repeat;
  opacity: 0.7;

  @include size($md) {
    background-position: bottom;
    opacity: 1;
  }
}

.hero-content {
  padding: rem(0 40px);
  position: absolute;
  top: 26%;

  @include size($md) {
    padding: 0;
    top: 20%;
    left: rem(80px);
  }
}

.hero-content__title {
  margin-bottom: 0;
  font-family: $ff-main;
  font-weight: $fw-extra;
  font-size: rem(48px);
  color: $light;

  @include size($md) {
    font-size: rem(144px);
  }
}

.hero-content__body {
  margin: rem(0 0 40px 0);
  font-family: $ff-main;
  font-weight: $fw-semi;
  font-size: rem(16px);
  color: $light;

  @include size($md) {
    font-size: rem(20px);
  }
}

.hero-content__cta {
  display: inline-block;
  padding: rem(15px 40px);
  background-color: $sky-blue;
  font-family: $ff-main;
  font-size: rem(16px);
  color: $light;
  border: 2px solid $sky-blue;
  text-decoration: none;
  border-radius: rem(50px);
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    color: $beige;
    background-color: $teal-blue;
  }

  @include size($md) {
    font-size: rem(24px);
  }
}