.nav {
  display: none;

  @include size($lg) {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    z-index: 1;
    background-color: rgba($midnight-blue, 0);
  }
}

.nav-list {
  display: flex;
  font-family: $ff-main;
  font-weight: 100;
  color: $beige;
  list-style: none;

  @include size($lg) {
    margin: rem(0 50px 0 0);
  }
}

.nav-list__item {
  padding: rem(15px 25px);
  color: $light;
  transition: all .2s ease-in-out;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  a {
    color: $light;
    font-weight: $fw-med;
    text-decoration: none;
  }

  &:hover {
    border: 2px solid $light;
  }

  @include size($lg) {
    margin: rem(5px 10px);
  }
}

.nav-toggle {
  position: fixed;
  display: flex;
  align-items: center;
  top: 10px;
  right: 20px;
  width: 30px;
  aspect-ratio: 1/1;
  z-index: 12;
  cursor: pointer;;

  @include size($lg) {
    display: none;
  }
}

.nav-toggle.open {

  .nav-toggle__button {
    background-color: transparent;

    &:before {
      top: 0px;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0px;
      transform: rotate(135deg);
    }
  }
}

.nav-toggle__button {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: $beige;
  transition: all .1s ease-in-out;

  &:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    top: 10px;
    background-color: $beige;
    color: $beige;
    transition: all .1s ease-in-out;
  }

  &:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 10px;
    background-color: $beige;
    transition: all .1s ease-in-out;
  }
}

.nav-mobile {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: $midnight-blue;
  z-index: 1;
  transform: translateX(100%);
  transition: all .2s ease-in-out;

  @include size($lg) {
    display: none;
  }
}

.nav-mobile.show {
  transform: translateX(0%);
}

.nav-mobile-list {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0;
  font-family: $ff-main;
  font-weight: 100;
  color: $beige;
  list-style: none;
  

  @include size($lg) {
    display: none;
  }
}

.nav-mobile-list__item {
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    color: $midnight-blue;
    background-color: $beige;
  }
}

.nav-mobile-list__item a {
  display: inline-block;
  padding: rem(20px);

  &:after {
    position: absolute;
    content: "";
    inset: 0;
  }
}