.nav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  z-index: 1;
  background-color: rgba($midnight-blue, 0);
}

.nav-list {
  display: flex;
  font-family: $ff-main;
  font-weight: 100;
  color: $beige;
  list-style: none;

  @include size($lg) {
    margin: rem(0 50px 0 0);
  }
}

.nav-list__item {
  padding: rem(15px 25px);
  color: $light;
  transition: all .2s ease-in-out;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  a {
    color: $light;
    font-weight: $fw-med;
    text-decoration: none;
  }

  &:hover {
    border: 2px solid $light;
  }

  @include size($lg) {
    margin: rem(5px 10px);
  }
}