.section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: rem(80px 20px);

  @include size($md) {
    padding: rem(80px 80px);
  }
}

.section-categories {
  border-bottom: 1px solid rgba($midnight-blue, 0.25);
}

.section-categories__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  overflow-x: scroll;
}

.section-categories__list-item {
  margin-right: rem(10px);
}

.section-categories__list-button {
  padding: rem(50px 60px);
  width: 100%;
  font-family: $ff-main;
  color: $midnight-blue;
  white-space: nowrap;
  background-color: transparent;
  text-align: center;
  border: 2px solid $midnight-blue;
  border-radius: rem(25px);
  cursor: pointer;
  box-shadow: rem(5px 5px 10px) rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in-out;


  &:hover {
    color: $light;
    background-color: $midnight-blue;
  }
}

.section-categories__list-button.selected {
  color: $light;
  background-color: $midnight-blue;
}

.section-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem(50px 0);

  @include size($md) {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.section__title {
  margin-bottom: rem(20px);
  font-family: $ff-main;
  font-weight: $fw-black;
  font-size: rem(48px);
  color: $teal-blue;

  @include size($md) {
    font-size: rem(112px);
  }
}

.section__title--dark {
  color: $light;
}

.section__subhead {
  font-family: $ff-main;
  font-size: rem(20px);
  font-weight: 600;
  color: $teal-blue;

  @include size($md) {
    font-size: rem(16px);
  }  
}

.section__subhead--dark {
  color: $light;
}

.section-text {
  font-size: rem(16px);

  @include size($md) {
    position: absolute;
    left: 0;
    max-width: 40%;
  }  
}

.section-text__title {
  font-family: $ff-main;
  color: $dark-gray;
}

.section-text__body {
  font-family: $ff-main;
  font-weight: $fw-light;
  color: $dark-gray;
  line-height: 2;
}

.section-text__link {
  color: $teal-blue;
  font-weight: $fw-black;
  cursor: pointer;
}

.section-media {
  max-width: 100%;
}

.section-media__image {
  // max-width: rem(500px);
  width: 100%;
}
