.steps {
  display: flex;
  flex-direction: row;
  gap: rem(50px);

  @include size($xl) {
    position: absolute;
    left: 0;
  }  
}

.steps--wide {
  
  @include size($xl) {
    width: rem(500px);
  }  
}

.steps-list {
  padding: 0;
  list-style: none;
  word-break: normal;
}

.steps-list__item {
  margin-bottom: rem(10px);
}

.steps-list__item--dark {

  button {
    background-color: transparent;
    color: $light;
    border: 2px solid $light;
  }
}

.steps-list__button {
  padding: rem(10px 80px);
  width: 100%;
  font-family: $ff-main;
  color: $midnight-blue;
  background-color: transparent;
  text-align: center;
  border: 2px solid $midnight-blue;
  border-radius: rem(50px);
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    color: $light;
    background-color: $midnight-blue;
  }
}

.steps-list__button--fajr, 
.steps-list__button--maghrib, 
.steps-list__button--isha {
  color: $beige;
  border: 2px solid $beige;
}

.steps-list__button--dhuhr, 
.steps-list__button--asr {
  color: $midnight-blue;
  border: 2px solid $midnight-blue;
}

.steps-list__button.selected {
  color: $light;
  background-color: $midnight-blue;
}

.steps-list__button--fajr.selected,
.steps-list__button--maghrib.selected,
.steps-list__button--isha.selected {
  color: $midnight-blue;
  background-color: $light;
}

.steps-list__button--dhuhr.selected,
.steps-list__button--asr.selected {
  color: $light;
  background-color: $midnight-blue;
}

.steps-description {
  width: 100%;
  transition: all .2s ease-in-out;

  @include size($xl) {
    position: absolute;
    left: 125%;
  }    
}

.steps-description__container--fajr,
.steps-description__container--maghrib,
.steps-description__container--isha
 {
  .steps-description__title {
    color: $beige;
  }

  .steps-description__body {
    color: $beige;
  }
}

.steps-description__container--dhuhr,
.steps-description__container--asr {
  .steps-description__title {
    color: $midnight-blue;
  }

  .steps-description__body {
    color: $midnight-blue;
  }
}

.steps-description__title {
  font-family: $ff-main;
}

.steps-description__title--dark {
  color: $light;
}

.steps-description__body {
  padding-left: rem(15px);
  position: relative;
  font-family: $ff-main;
  font-weight: $fw-light;
  color: $dark-gray;
}

.steps-description__body--dark {
  color: $light;
}

.steps-description__item {
  margin: rem(20px 0);
  font-family: $ff-main;
  font-size: rem(16px);
  line-height: 2;
}

.steps-description__link {
  color: #2B6E93;
  font-weight: 900;
  cursor: pointer;
}