.steps {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 0;
  gap: rem(50px);
}

.steps-list {
  padding: 0;
  list-style: none;
  word-break: normal;
}

.steps-list__item {
  margin-bottom: rem(10px);

  button {
    padding: rem(10px 80px);
    width: 100%;
    font-family: $ff-main;
    color: $midnight-blue;
    background-color: transparent;
    text-align: center;
    border: 2px solid $midnight-blue;
    border-radius: rem(50px);
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      color: $white;
      background-color: $midnight-blue;
    }
  }
}

.steps-list__item--dark {

  button {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
  }
}

.steps-list__button {
  
}

.steps-description {
  display: none;
}

.steps-description.show {
  display: block;
}

.steps-description__title {
  font-family: $ff-main;
}

.steps-description__itle--dark {
  color: $white;
}

.steps-description__body--dark {
  color: $white;
}

.steps-description__body {
  position: relative;
  width: 200px;
  font-family: $ff-main;
  font-weight: $fw-light;
}

.steps-description__item {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  margin: rem(20px 0);
  font-family: $ff-main;
  font-size: rem(16px);
}

.steps-description__item.show {
  opacity: 1;
  visibility: visible;
}