* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: rem(1440px);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}