.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $secondary;
  width: 100vw;

  &:before {
    content: "";
    display: block;
    position: absolute;
    -webkit-mask-image: url('../images/Vector\ 1.svg');
    width: 620.5px;
    height: 73px;
    left: -1px;
    top: 1px;
    border: none;
    background-color: #101E49;
  }
}